/* google fonts */
*{
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* header section */
.navsection{
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
    background-color:#ffff;
    
    
    
}
.header-image{
    width: 86.041px;
    height: 40px;
    padding-right: 20px;
}
.g-bio{
    color:  #FF42A5;
    font-size: 45px;
    font-weight: 700;

}
.amer{
    color: #0B0223;
    font-weight: 700;
    font-size: 45px;

}
.logo-txt{
    margin-top: auto;
   
}
.about-section{
   padding-left: 380px;
   gap: 150px;
    
}
.h-section{
    display: flex;
    gap: 80px;
    
}
ul li{
    list-style-type: none;
}
.link-button{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    gap: 20px;
    
    background: rgba(11, 2, 35, 0.10);
}
.dev-gap{
    padding-right: 60px;
}
.root-text{
    color: #0B0223;
   
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 100px;
    
   
    
}
.goat{
   

font-size: 95px;

font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-1{
    background-color: #FF42A5;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    color:#ffff;
    border:0;
}
.btn-2 {
    background: #4EC5F7;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    color: #ffff;
    border:0px;
}
.main-class{
    display: flex;
    align-items: center;
    padding-top: 30px;
    
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 80px;
}
.section-main-txt{
    justify-content: center;
}
.btn-add{
    padding-top: 20px;
    gap: 20px;
}
/* section_2 */
.main-section-2{
    display: flex;
    padding-top: 30px;
}
.gamer{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

font-size: 48px;

font-weight: 700;

}
.simple-pragraph{
    color: #534C64;
}
.purpose{
    color: #534C64;
text-align: right;

font-size: 24px;

font-weight: 500;
line-height: 45px; /* 187.5% */
}
.main-section-2{
   
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.img-3-section{
   display: grid;
   grid-template-rows: 4frs;
   display: flex;
   gap: 20px 20px 20px 20px;
   justify-content: space-between;
   white-space: 20px;
   
}
.txt-3{
    display: flex;
    s
    
}
.main-section-3{
    padding-right: 60px;
    padding-left: 60px;
   
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-size: 48px;

font-weight: 700;

}
.txt-san{
    padding-left: 380px;
}
.online{
    color: #0B0223;

font-size: 48px;

font-weight: 700;
text-align: center;
}
.pages{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
