/* google fonts */
*{
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* header section */
.navsection{
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
    background-color:#ffff;
    
    
    
}
.header-image{
    width: 86.041px;
    height: 40px;
    padding-right: 20px;
}
.g-bio{
    color:  #FF42A5;
    font-size: 45px;
    font-weight: 700;

}
.amer{
    color: #0B0223;
    font-weight: 700;
    font-size: 45px;

}
.logo-txt{
    margin-top: auto;
   
}
.about-section{
   padding-left: 380px;
   gap: 150px;
    
}
.h-section{
    display: flex;
    gap: 80px;
    
}
ul li{
    list-style-type: none;
}
.link-button{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    gap: 20px;
    
    background: rgba(11, 2, 35, 0.10);
}
.dev-gap{
    padding-right: 60px;
}
.root-text{
    color: #0B0223;
   
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 100px;
    
   
    
}
.goat{
   

font-size: 95px;

font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-1{
    background-color: #FF42A5;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    color:#ffff;
    border:0;
}
.btn-2 {
    background: #4EC5F7;
    height: 30px;
    width: 120px;
    border-radius: 30px;
    color: #ffff;
    border:0px;
}
.main-class{
    display: flex;
    align-items: center;
    padding-top: 30px;
    
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 80px;
}
.section-main-txt{
    justify-content: center;
}
.btn-add{
    padding-top: 20px;
    gap: 10px;
}
